*,html{
    box-sizing: border-box;
}
.navbar-custom{
    background-color: #00ABBC;
}
.navbar-custom .navbar-toggler{
    border: none;

}
.navbar-nav > .nav-item > .nav-link{
    margin: 0;
    padding: 0;
    text-align: center;
}