@import url('https://fonts.googleapis.com/css?family=Card1o:400i|Rubik:400,700&display=swap');
 :root {
	 --d: 700ms;
	 --e: cubic-bezier(0.19, 1, 0.22, 1);
	 --font-sans: 'Rubik', sans-serif;
	 --font-serif: 'Card1o', serif;
}
 * {
	 box-sizing: border-box;
}
@media (orientation: portrait) {
	html {
    transform: none;
		transform-origin: top left;
		 position: none;
		 top: none;
		 left: none;
		 width: none;
		 height: none;
	}
}
 body {
	 display: grid;
	 place-items: center;
}
 .page-content1 {
	 display: grid;
	 grid-gap: 1rem;
	 padding: 1rem;
	 margin: 0 auto;
     margin-top: 30px;
	 font-family: var(--font-sans);
}

li{
  margin-top: 15px;
  font-size: 15px;
}
.content{
	text-align: center;
}
.hr{
    width: 90%;
    margin-left : auto;
  margin-right : auto;
}
.red{
	color: rgb(208, 255, 0);
}
footer{
  width: 100%;
  background-color: #3b3b3b;
}
.swal-wide {
    width: 100% !important;
    background: rgb(62, 62, 62,0.9); 
}
 @media (min-width: 950px) {
	 .page-content1 {
		 grid-template-columns: repeat(2, 1fr);
	}
}
 @media (min-width: 1000px) {
	 .page-content1 {
		 grid-template-columns: repeat(4, 1fr);
	}
}
 .card1 {
	 position: relative;
	 display: flex;
	 align-items: flex-end;
	 overflow: hidden;
	 padding: 1rem;
	 width: 100%;
	 color: rgb(255, 255, 255);
	 background-color: whitesmoke;
     margin-bottom: 60px;
	 box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}
 @media (min-width: 950px) {
	 .card1 {
		 height: 350px;
		}
	
}
 .card1:before {
	 content: '';
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 110%;
	 background-size: cover;
	 background-position: 0 0;
	 transition: transform calc(var(--d) * 1.5) var(--e);
	 pointer-events: none;
}
 .card1:after {
	 content: '';
	 display: block;
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 200%;
	 pointer-events: none;
	 background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.019) 11.7%, rgba(0, 0, 0, 0.134) 22.1%, rgba(0, 0, 0, 0.172) 31.2%, rgba(0, 0, 0, 0.223) 39.4%, rgba(0, 0, 0, 0.282) 46.6%, rgba(0, 0, 0, 0.349) 53.1%, rgba(0, 0, 0, 0.420) 58.9%, rgba(0, 0, 0, 0.494) 64.3%, rgba(0, 0, 0, 0.568) 69.3%, rgba(0, 0, 0, 0.640) 74.1%, rgba(0, 0, 0, 0.707) 78.8%, rgba(0, 0, 0, 0.768) 83.6%, rgba(0, 0, 0, 0.821) 88.7%, rgba(0, 0, 0, 0.862) 94.1%, rgba(0, 0, 0, 0.890) 100%);
	 transform: translateY(-50%);
	 transition: transform calc(var(--d) * 2) var(--e);
}
 .card1:nth-child(1):before {
	 background-image: url(./img/test1.png);
}
 .card1:nth-child(2):before {
	 background-image: url(./img/deathtostock-01.png);
}
 .card1:nth-child(3):before {
	 background-image: url(./img/deathtostock-02.png);
}
 .card1:nth-child(4):before {
	 background-image: url(./img/deathtostock-03.png);
}
.card1:nth-child(5):before {
	background-image: url(./img/deathtostock-01.png);
}
.card1:nth-child(6):before {
	background-image: url(./img/deathtostock-02.png);
}
.card1:nth-child(7):before {
	background-image: url(./img/deathtostock-03.png);
}
 .content1 {
	 position: relative;
	 display: flex;
	 flex-direction: column;
	 align-items: center;
	 width: 100%;
	 transition: transform var(--d) var(--e);
	 z-index: 1;
}
 .title1 {
	 font-size: 1.3rem;
	 font-weight: bold;
	 line-height: 1.2;
}
 .copy1 {
	 font-size: 1.125rem;
	 font-style: italic;
	 line-height: 1.35;
 }
 .map{
	width: 100%;
}
.swal2-image {
	width: auto;
	height: auto;
}
.swal2-modal {
	width: auto;
	height: 350px;
}
.swal-wide {
    width: 100% !important;
	height: 350px;
    background-color: rgb(62, 62, 62,0.9); 
}
 @media (hover: hover) and (min-width: 600px) {
	 .card1:after {
		 transform: translateY(0);
	}
	 .content1 {
		 transform: translateY(calc(100% - 4.5rem));
	}
	 .content1 > *:not(.title1) {
		 opacity: 0;
		 transform: translateY(1rem);
		 transition: transform var(--d) var(--e), opacity var(--d) var(--e);
	}
	 .card1:hover, .card1:focus-within {
		 align-items: center;
	}
	 .card1:hover:before, .card1:focus-within:before {
		 transform: translateY(-4%);
	}
	 .card1:hover:after, .card1:focus-within:after {
		 transform: translateY(-50%);
	}
	 .card1:hover .content1, .card1:focus-within .content1 {
		 transform: translateY(0);
	}
	 .card1:hover .content1 > *:not(.title1), .card1:focus-within .content1 > *:not(.title1) {
		 opacity: 1;
		 transform: translateY(0);
		 transition-delay: calc(var(--d) / 8);
	}
	 .card1:focus-within:before, .card1:focus-within:after, .card1:focus-within .content1, .card1:focus-within .content1 > *:not(.title1) {
		 transition-duration: 0s;
	}
	
}
@media screen and (orientation: landscape) {
	html {
	  /* Rotate the content container */
	  transform: rotate(-90deg);
	  transform-origin: left top;
	  /* Set content width to viewport height */
	  width: 100vh;
	  /* Set content height to viewport width */
	  height: 100vw;
	  overflow-x: hidden;
	  position: absolute;
	  top: 100%;
	  left: 0;
	}
  }